body {
    background: #222;
    font-family: sans-serif;
}

#frame {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: margin-left 0.5s, width 0.5s;
}

body.show_sidebar #frame {
    width: calc(100% - 250px);
    margin-left: 250px;
}

#sidebar {
    position: absolute;
    height: 100%;
    width: 0px;
    z-index: 9;

    background: #272727;
    color: white;
    box-sizing: border-box;
    border-right: 1px solid #111;
    overflow: hidden;
    transition: width 0.5s;
}

body.show_sidebar #sidebar {
    width: 250px;
}

#toggle_sidebar {
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 10;

    box-sizing: border-box;
    border: none;
    padding: none;
    background: none;
    transition: margin-left 0.5s, background-position 0.5s;
    background: url("../assets/menu.png") center center / 80% no-repeat;
    cursor: pointer;
    opacity: 0.5;
}

#toggle_sidebar:hover {
    opacity: 1;
    background-position: 8px center;
}

body.show_sidebar #toggle_sidebar {
    margin-left: 250px;
    background-image: url("../assets/close.png");
}

body.show_sidebar #toggle_sidebar:hover {
    background-position: center center;
}

#toggle_sidebar:active {
    filter: brightness(0.5);
}

#side_header {
    width: 250px;
    height: 50px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
    border-bottom: 1px solid #111;
    background: #333;
}

#sidebar > .item {
    width: 250px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    /* padding: 15px; */
    padding-left: 20px;
    /* background: red; */
    cursor: pointer;
    background: transparent url("../assets/random_thumb.png") calc(100% - 20px) center / 40px 40px no-repeat;
}

#sidebar > .item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#sidebar > .item + .item {
    /* border-top: 1px solid #111; */
}

#sidebar > .item > h1 {
    font-weight: bolder;
    margin-bottom: 5px;
}

#sidebar > .item > h2 {
    font-size: 12px;
    font-weight: lighter;
    opacity: 0.8;
}

#sidebar > .item.active {
    pointer-events: none;
    /* background: #fff; */
    /* color: black; */
    box-shadow: inset 4px 0 0 0 #fff;
    background-color: rgba(0, 0, 0, 0.15);
}

#authors {
    position: absolute;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.2);
    padding: 5px 10px; 
    font-size: 10px;
    bottom: 0;
    right: 0;
    border-top-left-radius: 10px;
}

#ping_pong.item {
    background-image: url("../assets/pingpong_thumb.png");
}

#random.item {
    background-image: url("../assets/random_thumb.png");
}

#loop.item {
    background-image: url("../assets/loop_thumb.png");
}

#broadcast.item {
    background-image: url("../assets/broadcast_thumb.png");
}

#stop_go.item {
    background-image: url("../assets/stopgo_thumb.png");
}