body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background: transparent url("../assets/grid.png") left top / 50px 50px repeat;
    /* overflow: hidden; */
}

#root {
    
}

.menuBar {
    display: inline;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 20px;
}

#welcomeContent {
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
}

#network_image {
    height: 500px;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.node {
    z-index: 9;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    position: absolute;
    margin: -20px 0 0 -20px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* border: 2px solid #000; */
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bolder;
}

.node.undefined {
    background-color: #525252;
}

.node.source {
    background-color: #de4242;
}

.node.sink {
    background-color: #000000;
}

.node.peer {
    background-color: #326feb;
}

.node.red {
    background-color: #de4242;
}

.node.orange {
    background-color: #c98639;
}

.node.yellow {
    background-color: #cfc567;
}

.node.green {
    background-color: #00aa82;
}

.node.blue {
    background-color: #326feb;
}

.node.purple {
    background-color: #663bac;
}

.node > .label {
    position: absolute;
    width: 350px;
    padding: 5px;
    box-sizing: border-box;

    transform: translateY(-50px);
    color: #000;
    opacity: 0;
    display: none;
}

/* .node:hover > .label {
    opacity: 1;
} */

.link {
    width: 40px;
    height: 40px;
    position: absolute;
    margin: -20px 0 0 -20px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link > .progress {
    position: absolute;

    z-index: 0;
    height: 10px;
    min-width: 50px;
    box-sizing: border-box;

    background-color: rgba(0, 0, 0, 0.5);
}

.link > .progress > .progressFill {
    position: relative;
    height: 100%;
    width: 19%;
    background-color: #fff;
    opacity: 0.6;
}

.link > .label {
    z-index: 1;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 100%;
    border: 2px solid #000;
    background: #fff;
    display: none;
}

.link.red .progressFill {
    background-color: #de4242;
}

.link.orange .progressFill {
    background-color: #c98639;
}

.link.yellow .progressFill {
    background-color: #cfc567;
}

.link.green .progressFill {
    background-color: #00aa82;
}

.link.blue .progressFill {
    background-color: #326feb;
}

.link.purple .progressFill {
    background-color: #663bac;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    font-size: 12px;
    visibility: visible;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -73px;
    transform: translateY(-20px);
    font-weight: normal;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#toolbar {
    position: fixed;
    height: 51px;
    width: 100%;
    background: white;
    z-index: 99;
    padding-left: 50px;
    background: #333;
    border-bottom: 1px solid #111;
    display: flex;
    box-sizing: border-box;
}

#toolbar .divider {
    min-width: 25px;
    height: 100%;
    background: transparent url(../assets/divider.png) center center / 25px 50px no-repeat;
    opacity: 0.2;
}

#toolbar button {
    height: 50px;
    min-width: 50px;
    border: none;
    padding: 0;
    padding-top: 30px;
    background: none;
    color: white;
    font-size: 8px;
    box-sizing: border-box;
    opacity: 0.5;
    cursor: pointer;
    overflow: hidden;
    background: url(../assets/step.png) center 4px / 30px 30px no-repeat;
}

#toolbar button.disabled {
    opacity: 0.15;
    /* color: gray; */
    cursor: not-allowed;
    pointer-events: none;
    filter: grayscale(1);
}

#toolbar button:hover {
    filter: none;
    opacity: 1;
}

#toolbar button:active {
    filter: brightness(0.7);
}

button#stepButton {
    background-image: url(../assets/step.png);
}

button#autoButton {
    background-image: url(../assets/auto.png);
}

button#stopButton {
    background-image: url(../assets/stop.png);
}

button#resetButton {
    background-image: url(../assets/reset.png);
}

#timeline {
    height: 25px;
    width: 100%;
    position: fixed;
    z-index: 90;
    background: rgba(51, 51, 51, 0.25);
    border-bottom: 1px solid #111;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-top: 50px;
}

#needle {
    height: 100%;
    width: 1px;
    background: #de4242;
    display: flex;
    justify-content: center;
    /* margin-left: 10%; */
}

#time_display {
    height: 25px;
    padding: 0 10px;
    margin-top: 12px;
    background: #de4242;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    border-radius: 999px;
    font-weight: lighter;
}

#speed_control {
    height: 100%;
    padding: 0 20px;
}

#speed_slider {
    height: 18px;
    min-width: 150px;
    margin: 10px 0px 2px;
    background-color: hsla(0, 0%, 0%, 0.2);
    box-sizing: border-box;
    border-radius: 3px;
}

#speed_handle {
    height: 18px;
    width: 18px;
    background-color: #333;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2),
                0 2px 5px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    left: 106px;
    position: relative;
    background: url(../assets/handle.png) center center / 100% 100% no-repeat;
}

#speed_handle:hover {
    cursor: pointer;
    background-color: #383838;
}

#speed_handle:active {
    cursor: pointer;
    background-color: #303030;
}

#speed_labels {
    color: rgba(255, 255, 255, 0.5);
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
}