body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background: transparent url("../assets/grid.png") left top / 50px 50px repeat;
    overflow: hidden;
}

#root {

}

.menuBar {
    display: inline;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 20px;
}

#welcomeContent {
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
}

#network_image {
    height: 500px;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.node {
    z-index: 9;
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    position: absolute;
    margin: -25px 0 0 -25px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* border: 2px solid #000; */
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.2);
}

.node.undefined {
    background-color: #525252;
    color: white;
}

.node.source {
    background-color: #ca5e5e;
    color: white;
}

.node.sink {
    color: #fff;
    background-color: #000000;
}

.node.peer {
    background-color: #508edf;
    color: white;
}

.node > .label {
    position: absolute;
    width: 350px;
    padding: 5px;
    box-sizing: border-box;

    transform: translateY(-50px);
    color: #000;
    opacity: 0;
    display: none;
}

/* .node:hover > .label {
    opacity: 1;
} */

.link {
    width: 40px;
    height: 40px;
    position: absolute;
    margin: -20px 0 0 -20px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link > .progress {
    position: absolute;

    z-index: 0;
    height: 10px;
    min-width: 50px;
    box-sizing: border-box;

    background-color: rgba(0, 0, 0, 0.5);
}

.link > .progress > .progressFill {
    position: relative;
    height: 100%;
    width: 19%;
    background-color: #fff;
}

.link > .label {
    z-index: 1;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 100%;
    border: 2px solid #000;
    background: #fff;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: visible;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* button {
    z-index: 999;
    position: relative;
    margin-top: 20px;
}

button.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

button:first-of-type {
    margin-left: 20px;
} */

#toolbar {
    position: absolute;
    height: 51px;
    width: 100%;
    background: white;
    z-index: 99;
    padding-left: 50px;
    background: #333;
    border-bottom: 1px solid #111;
    display: flex;
    box-sizing: border-box;
}

#toolbar button {
    height: 50px;
    width: 50px;
    border: none;
    padding: none;
    background: none;
    color: white;
    font-size: 9px;
    font-weight: lighter;
    box-sizing: border-box;
    padding-top: 25px;
    opacity: 0.7;
}

#toolbar button.disabled {
    opacity: 0.2;
    /* color: gray; */
    cursor: not-allowed;
    pointer-events: none;
}

#toolbar button:hover {
    background: rgba(0, 0, 0, 0.1);
    opacity: 1;
}